@tailwind base;
@tailwind components;
@tailwind utilities;
@import './identity-utilities.scss';

Html {
  @apply antialiased;
  @apply h-full;
}

#root {
  @apply flex flex-col h-full;
}

.whiteSecondaryGradient {
  background: linear-gradient(180deg, #ffffff 0%, #cbd3f0 100%);
}

.transparentBlackGradient {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 79.69%);
}

.popup-overlay {
  background-color: rgba(112, 112, 112, 0.7);
}

.sls-top-page-poster__gradient {
  @media (max-width: 1900px) {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 79.69%);
  }
  @media (min-width: 1900px) {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 79.69%),
      linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 15%),
      linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 15%);
  }
  transform: rotate(-180deg);
}

.gradient-with-sides {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 79.69%),
    linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 15%),
    linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 15%);
  transform: rotate(-180deg);
}
